<section class="contact">
  <div class="contact__container">
    <div class="contact__info">
      <h3>{{ "CONTACT.CARD.title" | translate }}</h3>
      <ul>
        <li>
          <div>
            <img src="../../../assets/icons/whatsapp.svg" alt="cellphone" />
          </div>
          <div>
            <p>{{ "CONTACT.CARD.list.item1.name" | translate }}</p>
            <a href="tel:+57-322-462-5438">{{ "CONTACT.CARD.list.item1.content" | translate }}</a>
          </div>
        </li>
        <li>
          <div>
            <img src="../../../assets/icons/mail.svg" alt="" />
          </div>

          <div>
            <p>{{ "CONTACT.CARD.list.item2.name" | translate }}</p>
            <a href="mailto:andres98belt@gmail.com"
              >{{ "CONTACT.CARD.list.item2.content" | translate }}</a
            >
          </div>
        </li>
        <li>
          <div>
            <img src="../../../assets/icons/location.svg" alt="" />
          </div>
          <div>
            <p>{{ "CONTACT.CARD.list.item3.name" | translate }}</p>
            <a href="https://maps.app.goo.gl/XTzgBdj22GBUizaG6" target="_blank"
              >{{ "CONTACT.CARD.list.item3.content" | translate }}</a
            >
          </div>
        </li>
      </ul>
    </div>

    <form
      class="contact__form"
      action="javascript:void(0)"
      [formGroup]="contactForm"
      (ngSubmit)="sendForm()">
      <h3 class="contact__title">{{ "CONTACT.FORM.title" | translate }}</h3>
      <p class="contact__text">
        {{ "CONTACT.FORM.text" | translate }}
      </p>
      <input
        formControlName="name"
        name="name"
        class="contact__input"
        type="text"
        [placeholder]="'CONTACT.FORM.name' | translate" />
      <input
        formControlName="email"
        name="email"
        class="contact__input"
        type="text"
        [placeholder]="'CONTACT.FORM.email' | translate" />
      <input
        formControlName="cellphone"
        name="cellphone"
        class="contact__input"
        type="text"
        [placeholder]="'CONTACT.FORM.cellphone' | translate" />
      <textarea
        formControlName="message"
        name="message"
        class="contact__input"
        type="text"
        style="height: auto"
        rows="3"
        [placeholder]="'CONTACT.FORM.message' | translate"></textarea>
      <button class="contact__button" type="submit">{{ "CONTACT.FORM.button_text" | translate }}</button>

      @if (successSend) {
        <p class="contact__message">{{ "CONTACT.FORM.emailsent_ok" | translate }}</p>
      }
      @if (errorSend) {
        <p class="contact__message--error">
          {{ "CONTACT.FORM.emailsent_bad" | translate }}
        </p>
      }
      <!-- <p>Thank you for your message. It has been sent.</p> -->
    </form>
  </div>
</section>
