@use '../../../assets/styles/variables' as variables;
@use '../../../assets/styles/mixins' as mixins;


.resume {     
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    width: 100%;
    padding: 10px 0 20px 0;
}

.resume__container {
    display: flex;
    flex-flow: column wrap;
    align-content: center;
    width: 100%;
    padding: 30px;
}

.resume__title {
    background-image: linear-gradient(to right, #8750f7 0%, #ffffff 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font: 700 3rem/1.2 sans-serif;
    margin: 0 auto 40px;
}

.resume__menu {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    background: variables.color(purple-1);
    border-radius: 20px;
    margin: 0 0 40px;
    padding: 4px 6px;
    max-width: 400px;
}

.resume__item {
    font-size: 1.4rem;
    color: variables.color(white-1);
    font-weight: 500;
    padding: 6px 8px;
    cursor: pointer;
    border-radius: 18px;
    background: transparent;
    transition: background 0.3s ease-out;
    &:hover {
        background: variables.color(white-1);
        color: variables.color(purple-1);
        
    }
}

.resume__containercards {
    display: flex;
    flex-flow: column nowrap;
    gap: 20px;
    width: 100%;
}

.resume__card {
    flex-basis: 120px;
    height: 250px;
    background: variables.color(dark-3);
    border-radius: 20px;
}

@include mixins.tablet(){
    .resume {
        flex-flow: row nowrap;
        padding: 40px 30px 50px;
        gap: 30px;
    }

    .resume__container {
        padding: 0;
    }

    .resume__menu {
        margin: 0 auto 40px;
    }

    .resume__containercards {
        justify-content: center;
        width: 100%;
    }
}

@include mixins.desktop-xl(){
    .resume {
        flex-flow: row nowrap;
        padding: 60px 30px 60px;
        gap: 30px;
    }
}