<section class="resume">
  <div class="resume__container">
    <h3 class="resume__title">Mi Experiencia</h3>

    <div class="resume__containercards">
      <div class="resume__card">RanckCV</div>
      <div class="resume__card">Innoversoft</div>
    </div>
  </div>

  <div class="resume__container">
    <h3 class="resume__title">Mi Educación</h3>

    <div class="resume__containercards">
      <div class="resume__card">Ingeniero de Sistemas</div>
      <div class="resume__card">Angular Avanzado</div>
    </div>
  </div>
</section>
