<section class="skills">
  <div class="skills__container">
    <h3 class="skills__title">Mis Habilidades</h3>
    <p class="skills__text">Conoce las hablidades que manejo</p>

    <div class="skills__containercards">
      <app-skill-card
        skillName="Angular"
        skillScore="83"
        skillImageUrl="assets/icons/angular.svg" />
      <app-skill-card
        skillName="React"
        skillScore="80"
        skillImageUrl="assets/icons/react.svg" />
      <app-skill-card
        skillName="Spring Boot"
        skillScore="78"
        skillImageUrl="assets/icons/springboot.svg" />
      <app-skill-card
        skillName="Docker"
        skillScore="74"
        skillImageUrl="assets/icons/docker.svg" />
    </div>
  </div>
</section>
