@use '../../../assets/styles/variables' as variables;
@use '../../../assets/styles/mixins' as mixins;

.skills {  
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    width: 100%;
}

.skills__container {
    display: flex;
    flex-flow: column wrap;
    align-content: center;
    width: 100%;
    padding: 30px 30px 70px;
}

.skills__title {
    background-image: linear-gradient(to right, #8750f7 0%, #ffffff 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font: 700 3rem/1.2 sans-serif;
    margin: 0 auto 40px;
}

.skills__text {
    color: variables.color(white-2);
    font: 400 2rem/1.2 sans-serif;
    margin: 0 auto 30px auto;
}

.skills__menu {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    background: variables.color(purple-1);
    border-radius: 20px;
    margin: 0 0 40px;
    padding: 4px 6px;
    max-width: 400px;
}

.skills__item {
    font-size: 1.4rem;
    color: variables.color(white-1);
    font-weight: 500;
    padding: 6px 8px;
    cursor: pointer;
    border-radius: 18px;
    background: transparent;
    transition: background 0.3s ease-out;
    &:hover {
        background: variables.color(white-1);
        color: variables.color(purple-1);
    }
}

.skills__containercards {
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    gap: 20px;
    width: 100%;
}

@include mixins.tablet(){
    .skills__container {
        padding: 40px 30px 50px;
    }
    .skills__containercards {
        flex-flow: row wrap;
        justify-content: center;
    }
}