<section class="skills">
  <div class="skills__container">
    <h3 class="skills__title">{{ "SKILLS.title" | translate }}</h3>
    <p class="skills__text">{{ "SKILLS.text" | translate }}</p>


    <div class="skills__containercards">
      @for(skill of skills; track skill.name){
        <app-skill-card
          [skillName]="skill.name"
          [skillScore]="skill.rate"
          [skillImageUrl]="skill.image_url" />
      }@empty {
        <li>No hay items...</li>
      }

    </div>
  </div>
</section>
