<section class="section">
  <div class="section__container">
    <div class="card">
      <span class="card__subtitle">Soy Andrés</span>
      <h3 class="card__title">
        Desarrollador Web <br />
        FullStack
      </h3>
      <figure>
        <img
          src="https://images.squarespace-cdn.com/content/v1/55677e68e4b0f08b0b268c57/1497729978516-ZL9YFJASIREKVLTBV39V/Matthew+Brennan+Podcast+Interview.png?format=500w"
          alt="Mi avatar"
          height="200" />
      </figure>
      <p class="card__text">
        Desarrollo e implemento soluciones relacionadas a problemas con el
        correcto funcionamiento de flujos UX/UI y la interacción de clientes en
        aplicaciones web con experiencia en frontend y backend.
      </p>

      <div class="card__containerbtn">
        <button class="card__btn">
          <a
            routerLink="/../../../assets/docs/CV - LUIS ANDRES MACEA.pdf"
            download="CV - Luis Andres Macea"
            >Descargar CV</a
          >
          <svg
            xmlns="http://www.w3.org/2000/svg"
            width="24px"
            height="24px"
            viewBox="0 0 24 24">
            <path
              fill="#8750f7"
              d="m12 15.577l-3.539-3.538l.708-.72L11.5 13.65V5h1v8.65l2.33-2.33l.709.719zM6.616 19q-.691 0-1.153-.462T5 17.384v-2.423h1v2.423q0 .231.192.424t.423.192h10.77q.23 0 .423-.192t.192-.424v-2.423h1v2.423q0 .691-.462 1.153T17.384 19z" />
          </svg>
        </button>

        <a
          href="https://github.com/AndresMac318"
          target="_blank"
          class="card__btnsocialnetwork">
          <svg
            xmlns="http://www.w3.org/2000/svg"
            width="24"
            height="24"
            viewBox="0 0 24 24">
            <path
              fill="currentColor"
              d="M12 1A10.89 10.89 0 0 0 1 11.77A10.79 10.79 0 0 0 8.52 22c.55.1.75-.23.75-.52v-1.83c-3.06.65-3.71-1.44-3.71-1.44a2.86 2.86 0 0 0-1.22-1.58c-1-.66.08-.65.08-.65a2.31 2.31 0 0 1 1.68 1.11a2.37 2.37 0 0 0 3.2.89a2.33 2.33 0 0 1 .7-1.44c-2.44-.27-5-1.19-5-5.32a4.15 4.15 0 0 1 1.11-2.91a3.78 3.78 0 0 1 .11-2.84s.93-.29 3 1.1a10.68 10.68 0 0 1 5.5 0c2.1-1.39 3-1.1 3-1.1a3.78 3.78 0 0 1 .11 2.84A4.15 4.15 0 0 1 19 11.2c0 4.14-2.58 5.05-5 5.32a2.5 2.5 0 0 1 .75 2v2.95c0 .35.2.63.75.52A10.8 10.8 0 0 0 23 11.77A10.89 10.89 0 0 0 12 1" />
          </svg>
        </a>

        <a
          href="https://www.linkedin.com/in/andr%C3%A9s-macea-beltr%C3%A1n-217463236"
          target="_blank"
          class="card__btnsocialnetwork">
          <svg
            xmlns="http://www.w3.org/2000/svg"
            width="24"
            height="24"
            viewBox="0 0 24 24">
            <g fill="currentColor">
              <path
                fill-rule="evenodd"
                d="M12.51 8.796v1.697a3.74 3.74 0 0 1 3.288-1.684c3.455 0 4.202 2.16 4.202 4.97V19.5h-3.2v-5.072c0-1.21-.244-2.766-2.128-2.766c-1.827 0-2.139 1.317-2.139 2.676V19.5h-3.19V8.796h3.168ZM7.2 6.106a1.61 1.61 0 0 1-.988 1.483a1.595 1.595 0 0 1-1.743-.348A1.607 1.607 0 0 1 5.6 4.5a1.6 1.6 0 0 1 1.6 1.606"
                clip-rule="evenodd" />
              <path d="M7.2 8.809H4V19.5h3.2z" />
            </g>
          </svg>
        </a>

        <a href="mailto:andres98belt@gmail.com" class="card__btnsocialnetwork">
          <svg
            xmlns="http://www.w3.org/2000/svg"
            width="24"
            height="24"
            viewBox="0 0 24 24">
            <g
              fill="none"
              stroke="#8750f7"
              stroke-linecap="round"
              stroke-linejoin="round"
              stroke-width="2">
              <path
                d="M3 7a2 2 0 0 1 2-2h14a2 2 0 0 1 2 2v10a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2z" />
              <path d="m3 7l9 6l9-6" />
            </g>
          </svg>
          <!-- <svg
            xmlns="http://www.w3.org/2000/svg"
            width="32"
            height="32"
            viewBox="0 0 24 24">
            <g
              fill="currentColor"
              stroke="white"
              stroke-linecap="round"
              stroke-linejoin="round"
              stroke-width="2">
              <path
                d="M3 7a2 2 0 0 1 2-2h14a2 2 0 0 1 2 2v10a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2z" />
              <path d="m3 7l9 6l9-6" />
            </g>
          </svg> -->
        </a>
      </div>
    </div>
  </div>
</section>

<!-- <app-works id="works"></app-works> -->
