@use '../../../assets/styles/variables' as variables;
@use '../../../assets/styles/mixins' as mixins;


.section {
    width: 100%;
}

.section__container {
    display: flex;
    flex-flow: column nowrap;
}

.card {
    width: 100%;
    padding: 90px 30px 40px;
    flex: content;
}

.card__subtitle {
    color: variables.color(white-2);
    font: 700 2.2rem/1.2 sans-serif;
}

.card__title {
    background-image: linear-gradient(to right, #8750f7 0%, #ffffff 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font: 700 3rem/1.2 sans-serif;
    margin: 0 0 20px 0;
}

.card__text {
    color: variables.color(white-2);
    font: 400 2rem/1.2 sans-serif;
    margin: 0 auto 30px auto;
}

.card__containerbtn {
    display: flex;
    flex-flow: row wrap;
    gap: 20px;
    align-items: center;
}

.card__btn {
    display: flex;
    justify-content: center;
    gap: 5px;
    align-items: center;

    height: 56px;
    width: 200px;
    padding: 8px 10px;
    margin-right: 60px;
    border-radius: 36px;
    background: transparent;
    color: variables.color(purple-2);
    border: solid variables.color(purple-2) 1px;
    transition: background 0.4s;

    a {
        font-size: 1.5rem;
        font-weight: 400;
        font-family: sans-serif;
        line-height: 15px;
        letter-spacing: 1px;
        color: variables.color(purple-2);
    }

    &:hover {
        color: variables.color(white-1);
        font-weight: 600;
        background: variables.color(purple-2);
        cursor: pointer;

        a {
            color: variables.color(white-1);
        }
        
        svg {
            path {
                fill: variables.color(white-1);
            }
        }
    }
    @media screen and (width >= '380px'){
        margin-right: 0;
    }
}

.card__btnsocialnetwork {
    display: flex;
    justify-content: center;
    align-items: center;

    height: 40px;
    width: 40px;
    // padding: 8px 10px;
    // margin-right: 20px;
    border-radius: 50%;
    background: transparent;
    color: variables.color(purple-2);
    border: solid variables.color(purple-2) 1px;
    transition: background 0.3s;

    /* a {
        font: 400 1.5rem/15 sans-serif;
        letter-spacing: 1px;
        color: #8750f7;
    } */

    &:hover {
        color: variables.color(white-1);
        font-weight: 600;
        background: variables.color(purple-2);
        cursor: pointer;

        a {
            color: variables.color(white-1);
        }
        
        svg {
            path {
                fill: variables.color(white-1);
            }
        }
    }
}

figure {
    display: flex;
    margin: 20px auto;
    justify-content: center;
}

@include mixins.tablet(){
    .section{
        height: 520px;
    }
    .card {
        width: 60vw;
        padding: 100px 0 50px 50px;
    }
    .card__text {
        padding: 0;
    }
    figure {
        position: absolute;
        right: 12vw;
        top: 22vh;
    }
}

@include mixins.desktop-xl(){
    
    .card {
        padding: 100px 0 50px 50px;
    }
    .card__text {
        padding-right: 10vw;
    }
    figure {
        right: 16vw;
        top: 175px;
    }
}
