<main>
  <div class="section">
    <div class="section__content">
      <app-home id="me"></app-home>
    </div>
  </div>

  <div class="section">
    <div class="section__content">
      <app-works id="works"></app-works>
    </div>
  </div>

  <div class="section">
    <div class="section__content">
      <app-resume id="resume"></app-resume>
    </div>
  </div>

  <div class="section">
    <div class="section__content">
      <app-skills id="skills"></app-skills> 
    </div>
  </div>

  <div class="section">
    <div class="section__content">
      <app-contact id="contact"></app-contact>
    </div>
  </div>

</main>
