@use '../../../assets/styles/variables' as variables;

.section{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;

    &__content {
        width: 100%;
        max-width: 1440px;
    }
}

.section:nth-child(1){
    background: linear-gradient(45deg, rgb(15 7 21) 7%, rgb(39 21 53) 135%);
}

.section:nth-child(2){
    background: variables.color(dark-1);
}

.section:nth-child(3){
    background: variables.color(dark-2);
}

.section:nth-child(4){
    background: linear-gradient(45deg, rgb(15, 7, 21) 15%, rgb(39, 21, 53) 65%, rgb(15, 7, 21) 94%);
}

.section:nth-child(5){
    background: variables.color(dark-1);

}