<div class="worksdetail">
    <header class="worksdetail__header">
      <h3 class="worksdetail__title">{{ work.title }}</h3>
    </header>
    <article class="content">
      <div class="content__btnprev">
        <button class="content__btn" (click)="prevNavigation()">
          <svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" viewBox="0 0 24 24"><path fill="#8750f7" d="M20 11H7.83l5.59-5.59L12 4l-8 8l8 8l1.41-1.41L7.83 13H20z"/></svg>
          <a>{{ "WORKS.btn_text" | translate }}</a>
        </button>
      </div>
      <img
        class="content__image"
        [src]="work.urlImg"
        alt="not available"
        srcset="" />
      <div class="content__info">
        <h4 class="content__title">{{ work.title }}</h4>
        <p class="content__text">
          {{ work.description }}
        </p>
        <div class="card__containerbtn">
          @if(work.repositoryLink){
            <a
              [href]="work.repositoryLink"
              target="_blank"
              class="card__btnsocialnetwork">
              <svg
                xmlns="http://www.w3.org/2000/svg"
                width="32"
                height="32"
                viewBox="0 0 24 24">
                <path
                  fill="currentColor"
                  d="M12 1A10.89 10.89 0 0 0 1 11.77A10.79 10.79 0 0 0 8.52 22c.55.1.75-.23.75-.52v-1.83c-3.06.65-3.71-1.44-3.71-1.44a2.86 2.86 0 0 0-1.22-1.58c-1-.66.08-.65.08-.65a2.31 2.31 0 0 1 1.68 1.11a2.37 2.37 0 0 0 3.2.89a2.33 2.33 0 0 1 .7-1.44c-2.44-.27-5-1.19-5-5.32a4.15 4.15 0 0 1 1.11-2.91a3.78 3.78 0 0 1 .11-2.84s.93-.29 3 1.1a10.68 10.68 0 0 1 5.5 0c2.1-1.39 3-1.1 3-1.1a3.78 3.78 0 0 1 .11 2.84A4.15 4.15 0 0 1 19 11.2c0 4.14-2.58 5.05-5 5.32a2.5 2.5 0 0 1 .75 2v2.95c0 .35.2.63.75.52A10.8 10.8 0 0 0 23 11.77A10.89 10.89 0 0 0 12 1" />
              </svg>
            </a>
          }
          @if (work.url) {
            <a
              [href]="work.url"
              target="_blank"
              class="card__btnsocialnetwork">
              <svg
                xmlns="http://www.w3.org/2000/svg"
                width="32"
                height="32"
                viewBox="0 0 24 24">
                <path
                  fill="#8750f7"
                  d="M16.36 14c.08-.66.14-1.32.14-2s-.06-1.34-.14-2h3.38c.16.64.26 1.31.26 2s-.1 1.36-.26 2m-5.15 5.56c.6-1.11 1.06-2.31 1.38-3.56h2.95a8.03 8.03 0 0 1-4.33 3.56M14.34 14H9.66c-.1-.66-.16-1.32-.16-2s.06-1.35.16-2h4.68c.09.65.16 1.32.16 2s-.07 1.34-.16 2M12 19.96c-.83-1.2-1.5-2.53-1.91-3.96h3.82c-.41 1.43-1.08 2.76-1.91 3.96M8 8H5.08A7.92 7.92 0 0 1 9.4 4.44C8.8 5.55 8.35 6.75 8 8m-2.92 8H8c.35 1.25.8 2.45 1.4 3.56A8 8 0 0 1 5.08 16m-.82-2C4.1 13.36 4 12.69 4 12s.1-1.36.26-2h3.38c-.08.66-.14 1.32-.14 2s.06 1.34.14 2M12 4.03c.83 1.2 1.5 2.54 1.91 3.97h-3.82c.41-1.43 1.08-2.77 1.91-3.97M18.92 8h-2.95a15.7 15.7 0 0 0-1.38-3.56c1.84.63 3.37 1.9 4.33 3.56M12 2C6.47 2 2 6.5 2 12a10 10 0 0 0 10 10a10 10 0 0 0 10-10A10 10 0 0 0 12 2" />
              </svg>
            </a>
          }
          
        </div>
      </div>
  
      <ul class="content__list">
        <li class="content__listgroup">
          <span class="content__item">{{ "WORKS.category" | translate }}</span>
          <span class="content__item--gray">{{ work.category }}</span>
        </li>
        <li class="content__listgroup">
          <span class="content__item">{{ "WORKS.date" | translate }}</span>
          <span class="content__item--gray">{{ work.date }}</span>
        </li>
      </ul>
  
      <h4 class="content__title">{{ "WORKS.technologies" | translate }}</h4>
      <ul class="content__listgroup--tech">
        @for(technology of work.technologies; track work.technologies){
          <li class="content__item--tech">{{ technology }}</li>
        }
      </ul>
    </article>
  
</div>
