@use '../../../assets/styles/variables' as variables;

.skills__card {
    width: 180px;
    border-radius: 20px;
    text-align: center;
}

.skills__iconcontainer {
    background: variables.color(dark-3);
    border-radius: 20px;
    padding: 20px;
    margin: 0 0 12px 0px;
    border: solid 1px variables.color(dark-3);
    transition: background 0.3s ease-in-out;
    &:hover {
        border: solid 1px variables.color(purple-2);
        background: variables.color(purple-2-light);
    }
}

.skills__number {
    color: variables.color(gray-1);
    font-size: 2rem;
}

.skills__nameskill {
    color: variables.color(purple-2);
    font-size: 1.6rem;
}