<section class="works">
  <div class="works__container">
    <h3 class="works__title">{{"WORKS.title" | translate}}</h3>
    <div class="works__menu">
    @for (item of menuItems; track item.id) {
      <button 
      (click)="filterworks(item.name)" 
      class="works__item" 
      [class]="{'works__itemActive': item.isActive}"
      >
        {{ item.name }}
      </button>
    }
    </div>
    <div class="works__containercards">
      @for (work of worksFilter; track work.id) {
        <app-works-card [cardInfo]="work"></app-works-card>
      } @empty {
        <p>{{ "WORKS.no_elements" | translate }}</p>
      }
    </div>
  </div>
</section>
