@use "variables.scss" as variables;


// styles reset
*, *::before, *::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
    font-family: "Poppins", sans-serif;
    font-style: normal;
    font-size: 10px;
}

html {
    background: black;
    //height: 100%;
}

textarea {
    resize: none;
}

// animation
@keyframes appear {
    from {
        opacity: 0;
        scale: 0.4;
    }
    to {
        opacity: 1;
        scale: 1;
    }
}
